ul {
  list-style-type: none;
  list-style-image: url(2\img\edit.png);
}

li {
  background-color: grey;
  width: 250px;
  font-family: sans-serif;
  color: aliceblue;
  font-size: 15px;
  height: 50px;
  padding: 10px 0;
}

img {
  width: 50px;
  margin: 0 20px;
}

p {
  position: absolute;
  height: 50px;
  display: inline-block;
  text-align: justify;
  margin: 15px 0;
}

li:hover {
  background-color: rgb(83, 83, 83);

}